MONGO_URI=mongodb+srv://skUser:shreek23@cluster0.zje8l.mongodb.net/your-database-name?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=secret-123
TMDB_API_KEY=e635e2ebfa47d271a7eb7c0f7aea3a88

